@color-white: #fff;
@color-black: #222;

@color-grey: #f3f3f3;
@color-grey-dark: #e1e7ea;
@color-grey-darker: #7f8c94;
@color-grey-darkest: #253945;

@color-blue: #428bca;
@color-blue-dark: #064f76;
@color-blue-darker: #274756;

@color-github: @color-black;
@color-twitter: #00acef;
@color-icheckmovies: #efc229;
