@leader-height: 150px;
@avatar-height: 120px;
@background-size: 250px;

.leader {
    background: @color-red url(../images/backdrop.png) center 0 no-repeat;
    background-size: cover;
    height: @leader-height;

    .avatar {
        height: @avatar-height;
        margin-top: @leader-height - (@avatar-height / 2);
    }
}
